<div class="widget board _list_wrap">
    <div class="list-style  hide_writer  hide_time  hide_hit_cnt  hide_comment_cnt  grid_02 type_grid img_border"  id="post_card_b202607118b28ea416f1df">		<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/112/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173029318&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260812/d261c76c046d3.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		오랜 틀니 사용 후 상악 임플란트와 상악동 거상술을 진행한 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/112/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173029292&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260812/6defef6f16bac.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		남은 치아가 적어 식사와 대화가 어려웠던 전체 임플란트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/112/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173029268&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260812/77873167141d8.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		치아 상실과 깊어진 얼굴 주름을 함께 개선한 전체 임플란트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/112/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173029238&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260812/7906e199498dd.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		틀니를 고민하던 환자분의 상악 전악 임플란트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/112/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173029205&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260812/7a385a93383b9.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		치과 치료가 두려웠던 환자분의 상하악 전체 임플란트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/112/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173029191&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260812/1746625dcc3b9.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		이가 하나도 없어 불편했던 환자분의 전악 임플란트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
			

</div>				<div class="li_footer _list_bottom clearfix text-center " >
					<div class="tools inline-blocked hidden-xs" >
						
					</div>