<div class="widget board _list_wrap">
    <div class="list-style  hide_writer  hide_time  hide_hit_cnt  hide_comment_cnt  grid_02 type_grid img_border"  id="post_card_b20260710a31e4576990d8">		<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027325&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/bc9c5c3debd04.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		앞니 두 개의 벌어짐과 음식물 끼임을 개선한 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027285&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/d773a490380fd.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		변색되고 고르지 않던 앞니를 조화롭게 정돈한 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027248&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/0673125213450.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		반복적으로 떨어지던 라미네이트를 다시 설계한 심미치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027227&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/61db6515eac41.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		오래된 앞니 크라운의 색과 모양을 바로잡은 슬림네이트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027189&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/4b144a8aebb44.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		앞니 벌어짐과 잇몸 착색을 함께 개선한 최소 삭제 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027165&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/e50a323b50bb2.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		앞니 벌어짐을 슬림네이트와 올세라믹으로 개선한 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027137&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/8f98b34fcf05d.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		왜소치와 토끼앞니의 균형을 맞춘 슬림네이트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027114&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/3b49bdcadfd3c.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		치아 벌어짐과 형태·비율을 함께 다듬은 무삭제 슬림네이트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027073&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/b5645d6bd225c.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		아랫니 사이 벌어짐을 자연스럽게 개선한 무삭제 슬림네이트 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
			

</div>				<div class="li_footer _list_bottom clearfix text-center " >
					<div class="tools inline-blocked hidden-xs" >
						
					</div>