<div class="ma-item _post_item_wrap">
				<div class="card  _card" style="  background-size: cover; background-position: 50% 50%;">
					<span class="holder blocked" style="cursor:pointer;">
												<a class="post_link_wrap _fade_link"  href="/86/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=173027325&t=board"   >
							<div class="card_wrapper card-thumbnail-wrap " style="background-image: url(&quot;https://cdn.imweb.me/thumbnail/20260811/bc9c5c3debd04.png&quot;);  background-size: cover; background-position: 50% 50%;">
								<div class="card-head _card_head _img_wrap">
									<span>
																			</span>
								</div>
							</div>
							<div class="card-body _card_body list-group">
								<div class="title title-block">
									<em class="notice-block" style="display: none">공지</em>
																			<span>
											<em style="padding-right:5px;color:;display: none"></em>
										</span>
																		앞니 두 개의 벌어짐과 음식물 끼임을 개선한 치료사례									<!--									--><!--										<span class="icons text-20 "><i aria-hidden="true" class="icon-picture"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-folder"></i></span>-->
									<!--									--><!--									--><!--										<span class="icons text-20"><i aria-hidden="true" class="icon-camrecorder"></i></span>-->
									<!--									-->								</div>
																	<div class="text text-block show_body">
									<span></span>
								</div>
															</div>
																				</a>
											</span>
				</div>
			</div>
		</div>
				<div class='list-style-card _card_wrap' style="display:none">
			